/* src/components/workloads.css */
.workloads-section {
}

.workloads-list {
  list-style-type: none;
  padding: 0;
}

.workload-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 10px;
  margin-top: 10px;
}

.workload-item:hover {
  background-color: #444444;
}

.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  filter: invert(1);
}

.delete-icon:hover {
  transform: scale(1.3);
}
